<html>
<head>
	<title>My Blog</title>
	<meta charset = "utf-8"/>
	{%load bootstrap_toolkit%}{%bootstrap_stylesheet_tag%}
	<style type = "text/css" media = "screen">
		.container{width : 800px;}
		.navbar . container {width : 800px}
	</style>
</head>
<body>
<div class = "navbar navbar-inverse">
	<div class = "navbar-inner">
		<div class = "container">
			<a class = "brand" href = "/"> MyBlog</a>
		</div>
	</div>
</div>
<div class = "container">
	<div id = "content" class = "flex">
		{%block content%}{%endblock%}
	</div>
</div>
</body>
</html>
		 
